html{
  min-height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Comic Sans MS', arial;
  min-height: 100%;
  background-image: url('/img/grass.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: rgb(145, 231, 247);
}

.notes-show .card{
  min-height: 100vh;
}